body {
    background-color: rgba(29, 37, 124, 0.126);
}
h1 {
    font-family: 'Arima', cursive;
    text-align: center;
}
h2, h3 {
    font-family: 'Karla', sans-serif;
    margin-left: 50px;
}
p, li {
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 30px;
}

